.whyus {
  @include flex();
  flex-direction: column;
  row-gap: rem(64);
  padding-block: var(--section-padding-y);

  @include tablet {
    row-gap: rem(32);
  }

  &__title {
    width: 100%;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(20);
    width: 100%;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      @include flex(flex, center, start);
      flex-direction: column;
      gap: rem(10);
    }

    &-item {
      @include flex(flex, center, start);
      flex-direction: column;
      row-gap: rem(16);

      @include tablet {
        flex-direction: row;
        column-gap: rem(10);
        align-items: center;
      }
    }

    &-image {
      @include tablet {
        @include square(2.5em);
      }
    }

    &-description {
      @include mobile-s {
        font-size: clamp(#{rem(14)}, 3.33vw, #{rem(16)});
      }
    }
  }
}
