.for {
  @include flex(flex, center, start);
  flex-direction: column;
  padding-block: var(--section-padding-y);
  row-gap: rem(64);

  @include tablet {
    row-gap: rem(32);
  }

  &__title {
    width: 100%;
    text-align: center;
  }

  &__main {
    @include flex(flex, center, start);
    flex-direction: column;
    row-gap: rem(40);
    width: 100%;

    &-graduates {
      @include flex(flex, center, start);
      flex-direction: column;
      row-gap: rem(24);
      width: 100%;

      &__title {
        font-size: rem(30);

        @include desktop {
          width: 100%;
          text-align: center;
        }

        @include mobile {
          font-size: clamp(#{rem(24)}, 3.91vw, #{rem(30)});
        }
      }

      &__content {
        @include flex(flex, start, stretch);
        column-gap: rem(24);
        width: inherit;

        @include desktop {
          align-items: center;
          flex-direction: column;
          row-gap: rem(20);
        }

        &-cards {
          @include flex(flex, space-between, start);
          flex-direction: column;

          @include desktop {
            row-gap: rem(10);
          }
        }

        &-image {
          width: auto;
          height: rem(530);
          border-radius: rem(8);

          @include laptop {
            height: rem(450);
          }

          @include mobile {
            height: clamp(#{rem(220)}, 58.67vw, #{rem(450)});
          }
        }
      }
    }

    &-cooks {
      @include flex(flex, start, stretch);
      column-gap: rem(24);

      @include desktop {
        flex-direction: column;
        align-items: center;
        width: 100%;
        row-gap: rem(20);
      }

      &__image {
        height: rem(410);
        width: auto;
        border-radius: rem(8);

        @include desktop {
          width: 70%;
          height: auto;
          order: 1;
        }

        @include mobile {
          width: 100%;
        }
      }

      &__content {
        @include flex(flex, space-between, start);
        flex-direction: column;

        @include desktop {
          align-items: center;
          row-gap: rem(20);
        }

        &-title {
          font-size: rem(30);

          @include desktop {
            text-align: center;
          }

          @include mobile {
            font-size: clamp(#{rem(24)}, 3.91vw, #{rem(30)});
          }
        }
      }
    }
  }
}
