.workshops {
  @include flex();

  padding-block: var(--section-padding-y);
  flex-direction: column;
  row-gap: rem(64);

  @include tablet {
    row-gap: rem(32);
  }

  &__images {
    @include flex();

    @include tablet {
      flex-direction: column;
    }
  }
}
