@use 'helpers' as *;

body {
  font-family: var(--font-montserrat), sans-serif;
  font-size: var(--font-size-18);
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-dark);
  background-color: var(--color-light);
}

hr {
  border: var(--border);
  opacity: 0.5;
  margin-block: rem(10);
  position: relative;
  z-index: 100;
}

h1 {
  font-size: rem(110);
  font-weight: 200;
}

h2 {
  font-size: clamp(#{rem(22)}, 4.492vw, #{rem(46)});
  font-weight: 300;
}

h3 {
  font-size: var(--font-size-56);
}
