@use 'helpers' as *;

:root {
  --color-light: #ffffff;
  --color-dark: #0f0e10;
  --color-dark-alternate: #171717;
  --color-blue: #093092;
  --color-blue-alternate: #1279be;
  --color-grey: #4f505b;
  --color-grey-alternate: #f3f6fd;

  --font-size-18: #{rem(18)};
  --font-size-16: #{rem(16)};
  --font-size-14: #{rem(14)};
  --font-size-110: #{rem(110)};
  --font-size-30: #{rem(30)};
  --font-size-46: #{rem(46)};
  --font-size-56: #{rem(56)};
  --font-size-22: #{rem(22)};

  --border: #{rem(1)} solid var(--color-grey-alternate);
  --border-input: #{rem(1)} solid var(--color-grey);
  --border-radius-8: #{rem(8)};

  --button-height-link: #{rem(72)};
  --button-height-callback: #{rem(55)};
  --button-padding-x: #{rem(32)};

  --container-width: #{rem(1420)};
  --container-padding-x: #{rem(16)};

  --section-padding-y: #{rem(60)};

  --transition-duration: 0.1s;

  @include tablet {
    --section-padding-y: #{rem(30)};
  }

  @include mobile {
    --button-padding-x: #{rem(16)};
  }
}
