.imagecard {
  position: relative;

  &__image {
    height: 100%;
  }

  &__description {
    position: absolute;
    content: '';
    bottom: rem(16);
    left: 50%;
    translate: -50%;
    white-space: nowrap;
    color: var(--color-light);
    font-size: clamp(#{rem(14)}, 1.45vw, #{rem(18)});
    max-width: rem(300);

    @include tablet {
      font-size: rem(18);
    }

    &--wrap {
      white-space: wrap;
      width: 68%;
      text-align: center;

      @include tablet {
        width: 60%;
      }
    }
  }
}
