.card {
  @include flex(inline-flex);
  height: rem(49);
  padding-inline: rem(16);
  background-color: var(--color-blue-alternate);
  border-radius: var(--border-radius-8);
  color: var(--color-light);

  @include laptop {
    padding-block: rem(4);
    font-size: var(--font-size-14);
  }

  @include mobile {
    padding: rem(12);
    height: auto;
  }

  @include mobile-s {
    padding: rem(8);
  }

  &__content {
    text-align: center;
  }
}
